* { margin:0; padding:0; box-sizing:border-box; font-family:sans-serif; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./img/img1.jpg') no-repeat center center/cover;
}

.login-container {
  width: 400px;
  background-color: rgba(22, 2, 2, 0.459);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(8px);
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border:none;
  border-radius:6px;
  background:#e2b948;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

